@{ ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<style>
iframe {
width:100%;
}
</style>
<section class="content">
        <div class="container-fluid">

            <div class="row">
<iframe src='http://DESKTOP-1KKDKOD:57566/bi/site/site1/dashboards/e6a06941-8f3b-498a-9483-c4c5af74c719/Information%20Technology/Performance%20Analysis%20by%20Date%20Range?isembed=true' id='dashboard-frame' width='100%' height='600px' allowfullscreen frameborder='0'></iframe>
            </div>
    </section>


